{{=<% %>=}}
<div>

<%#messages%>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>{{ <% timecreated %> | coreToLocaleString }}</ion-card-subtitle>
    <ion-card-title><% message %></ion-card-title>
  </ion-card-header>

  <ion-card-content>
    {{ 'plugin.local_greetings.postedby' | translate: {$a: '<% firstname %>' } }}
  </ion-card-content>
</ion-card>
 <%/messages%>
<%^messages%>
    <p>{{ 'plugin.local_greetings.nomessages' | translate }}</p>
<%/messages%>

</div>

<%#canpost%>
  <ion-fab core-fab vertical="bottom" horizontal="end" slot="fixed"
    core-site-plugins-new-content component="local_greetings" method="mobile_view_greetings_form"
    [attr.aria-label]="'plugin.local_greetings.greetings:postmessages' | translate">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
<%/canpost%>
